body{
  display: grid;
  grid-template-rows: 100px 1fr 50px ;
}
header{
  background-color: aqua;
}
main{
  display: flex;
  justify-content: space-around;
}
table ,th,td{
  width: 400px;
  border:2px solid red;
  text-align: center;
}